<div class="d-flex justify-content-center">
  <div class="card" style="width: 500px;">

    <div class="card-header">Authorization</div>

    <div class="card-body">
      <form #authForm="ngForm">

        <!-- Nickname field -->
        <div class="form-group">
          <label for="nick">Nickname</label>
          <small id="nickHelp" *ngIf="nicknameValidationError" class="form-text text-danger">{{ nicknameValidationError }}</small>
          <input type="text" class="form-control" (change)="validateNickname()" [(ngModel)]="credentials.nickname" name="nickname" id="nick" placeholder="Enter nickname">
        </div>

        <!-- Password field -->
        <div class="form-group">
          <label for="password">Password</label>
          <small id="passwordHelp" *ngIf="passwordValidationError" class="form-text text-danger">This field is empty.</small>
          <input type="password" (change)="validatePassword()" class="form-control" [(ngModel)]="credentials.password" name="password" id="password" placeholder="Enter password" >
        </div>

        <!-- Submit button -->
        <div class="row p-3">
          <button class="btn btn-outline-primary m-2"
                  (click)="login()"
                  [disabled]="!credentials.nickname || !credentials.password">
            Log in
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
